* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main{
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
h2{
    font-size: 40px;
}
  /* navbar */

.navbar{
    background-color: antiquewhite;
    background-image: url("/img/23.jfif");
    background-size: cover;
    height: 100vh;
    background-position: 50%;
}
    

.navbar nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 10px;
}
.navbar nav ul {
    list-style: none;
    text-transform: capitalize;
    font-family: "Caveat", cursive;

}
.navbar nav a {
    color:#fff;
}
.navbar .list1 {
    font-size: 28px;
    padding-left: 20px;
}
.navbar nav .list2 {
    display: flex;
    flex-direction: row;
}
.navbar nav .list2 li {
    margin-right: 20px;
    font-size: 22px;
    font-weight: 700;
}
.navbar nav .list2 .one a , 
.navbar div p span ,
.section2 p a,
footer .rights p span{
    color: rgb(73, 73, 243);
    font-weight: bold;
}
.navbar nav ul a:hover {
    color: rgb(73, 73, 243);
}
.navbar div {
    text-align: center;
    margin-top: 240px;
    line-height: 45px;
    color: #fff;
}
.navbar div h1{
    font-size: 50px;
    font-weight: 300;
}
.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  @media (max-width: 992px) {
    .checkbtn {
        /* display: block;
        order: 1; */
      }
      .navbar nav .list2 {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 30%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: last baseline;
        padding-left: 20px;
        /* transition: all 0.3s; */
      }
    .navbar nav .list2 li {
        margin: 10px 0;
    }
    #check {
          display: block;
           width: 60px;
           height: 40px;
           margin: 0 20px 20px 0;
           appearance: none;
            font-size: 2rem;
            padding: 0.5rem;
            background-image: url(/img/download.svg);
            background-size: 40px;
            background-position: 50%;
            background-repeat: no-repeat;
            border: 1px solid rgb(148, 145, 145);
            border-radius: 0.5rem;
    }

    #check:checked ~ .list2 {
        right: 0;
      }

  }

/*nabar*/

/* secction2 */

.section2 {
    display: flex;
   flex-direction: row;
   justify-content:center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.section2 img {
    width: 85%;
}
.section2 h2 {
    color: rgb(73, 73, 243);
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 300;
}
.section2 .sec2 {
    width: 25%;
}
.section2 p {
    text-wrap: wrap;
    line-height: 2em;
    font-size: 15px;
    color: rgb(101, 101, 101);
    margin-top: 15px;
}
.section2 button {
    background-color: rgb(70, 70, 209);
    border: 2px solid rgb(70, 70, 209);
    border-radius: 10px;
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin-top: 10px;
}
.section2 p a:hover {
    color: black;
}
/* section2 */

/* section3 */

.work{
    background-image: linear-gradient(180deg, rgb(226, 151, 133), rgb(96, 96, 139));
}
.work .sec3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    padding: 60px;
    text-wrap: wrap;
    text-align: center;
    
}
.work .sec3 div{
    margin-left: 25px;
    font-size: 17px;
}
.work .sec3 div h2 {
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.work .sec3 div a {
    font-size: 22px;
    color: rgb(89, 89, 246);
}
.work .sec3 div a:hover{
    color: rgb(154, 154, 236);
}
.work .sec3 div p {
    font-size: 1em;
    color: rgb(189, 179, 179);
}
/* section3 */


/* section4 */

.work-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-img .sec4{
    text-align: center;
    margin-bottom: 40px;
    /* width: 30%; */
}
.work-img .sec4 h2{
    color: rgb(90, 90, 242);
    font-weight: 400;
}
.work-img .sec4 p{
    text-align: center;
    text-wrap: wrap;
    width: 470px;
    color: rgb(148, 144, 144);
}
.work-img .img{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.work-img .img img{
    width: 200px;
    height: 240px;
    margin: 20px;
    cursor: pointer;
    transition: transform .2s;
    margin-bottom: 20px;
}
.work-img .container .img img:hover {
    transform: scale(1.1);
}
/* section4 */

/* footer */

footer{
    background-image: url(/img/the-town-footer.jpg);
    margin-top: 30px;
    background-position: 100%, 40% ;
    height: 90vh;
    display: flex;
    justify-content: center;
    color: #fff;

}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1029px;
}
footer .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .info h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer .info span {
    background-color: #fff;
    height: 1px;
    position: relative;
    width: 100%;
}
footer .info span:after {
    position: absolute;
    content: "";
    height: 7px;
    background-color: #ffffff;
    width: 20%;
    top: 50%;
    } 
footer .info p{
    text-wrap: wrap;
    margin-top: 20px;
    line-height: 50px;
}
footer .num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .num .contact p {
  padding-bottom: 60px;
    font-weight: bold;
}
footer .num .mail {
    align-items: flex-start;
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
}
footer .num .mail p{
    padding-bottom: 60px;
    font-weight: bold;
}
footer .num .mail div input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    margin: 0 20px 0 0;
    padding: 5px 20px;
}
footer .num .mail div button {
    color: #4169e1;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    height: 40px; 
    width: 80px;
    border-radius: 8px;
}
footer .rights p {
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
@media (max-width: 992px) {
    footer .info {
        text-align: center;
    }
    footer .info span::after{
        left: 25%;
        width: 50%
    }
    footer .info p {
        text-align: center;
    }
    footer .num {
        align-items: center;
        flex-direction: column
    }
    footer .num .mail {
        text-align: center;
        align-items: center;
    }
}
/* footer */


